
<!DOCTYPE HTML>
<html>
<head>
<title>Free Snow Bootstrap Website Template | Checkout :: w3layouts</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script src="js/jquery.min.js"></script>
 </head>
<body>
{% if app.session.flashBag.has('info') %}
<div class="alert alert-success">
	{% for msg in app.session.flashBag.get('info') %}
	{{ msg }}
	{% endfor %}
</div>
{% endif %}
	<div class="header">
		<div class="container">
			<div class="row">
			  <div class="col-md-12">

	            <div class="header_right">
	    		  <!-- start search-->


				    <ul class="icon1 sub-icon1 profile_img">
					 <li><a class="active-icon c1" href="#"> </a>
						<ul class="sub-icon1 list">
						  <div class="product_control_buttons">
						  	<a href="#"><img src="images/edit.png" alt=""/></a>
						  		<a href="#"><img src="images/close_edit.png" alt=""/></a>
						  </div>
						  <li class="list_img"><img src="images/1.jpg" alt=""/></li>
						  <li class="list_desc"><h4><a href="#">velit esse molestie</a></h4><span class="actual">1 x
                          $12.00</span></li>
						  <div class="login_buttons">
							 <div class="check_button"><a href="checkout.html">Check out</a></div>
							 <div class="login_button"><a href="login.html">Login</a></div>
						  </div>
						</ul>
					 </li>
				   </ul>

	       </div>
	      </div>
		 </div>
	    </div>
	  </div>
     <div class="main">
     <div class="main">
      <div class="shop_top">
		<div class="container">
			<div class="col-md-6">
				 <div class="login-page">
					<h4 class="title">New Customers</h4>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
					<div class="button1">
					   <a href="register.html"><input type="submit" name="Submit" value="Create an Account"></a>
					 </div>
				  </div>
				</div>
				<div class="col-md-6">
				 <div class="login-title">
	           		<h4 class="title">S'authentifier</h4>
					<div id="loginbox" class="loginbox">
						<form action="login" method="post" name="login" >
						  <fieldset class="input">
						    <p id="login-form-username">
						      <label>Email</label>
								{{form_widget(form.login_utilisateur)}}
						    </p>
						    <p id="login-form-password">
						      <label>Password</label>
								{{form_widget(form.mdp_utilisateur)}}						    </p>
						    <div class="remember">
							    <input type="submit" value="Valider" class="btn btn-secondary">
							 </div>
						  </fieldset>
						 </form>
					</div>
			      </div>

			  </div>
			</div>
		  </div>
	  </div>
	 </div>


</body>
</html>