{% extends 'base-front.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
    <h1>Create new Evenement</h1>

    {{ include('evenement_client/_form.html.twig') }}

    <a href="{{ path('app_evenement_client_index') }}">back to list</a>
{% endblock %}
