{# templates/comment/popup.html.twig #}

<div id="comment-popup" class="popup">
	<h2>Add Comment</h2>

	{{ form_start(form) }}

	{{ form_row(form.contenu) }}

	{{ form_row(form.submit) }}

	{{ form_end(form) }}
</div>
