{% extends 'base.html.twig' %}

{% block body %}
    <h1>Statistiques</h1>
    <table>
        <thead>
            <tr>
                <th>Localisation</th>
                <th>Pourcentage</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.localisation }}</td>
                    <td>{{ item.pourcentage }}%</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}






