
<h1>Reservation</h1>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Reservation added successfully !</h4>
    <p> Thank you Mr/Ms {{ user.nomUtilisateur }} for choosing our platform , your reservation was submitted successfully
        ,you will find more details bellow  </p>

    <hr>
</div>

<style>
    h1{
        text-align: center;
    }
    body {
        padding:30px 1px 30px 30px;
        border: 1px solid black;
    }
</style>
