<form method="post" action="{{ path('app_favorite_delete', {'idF': favorite.idF}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ favorite.idF) }}">
    <button class="btn">Delete</button>
</form>
